*.log
.DS_Store
.env
.env.*
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/cache/*
/node_modules
/public/build
/public/hot
/public/storage
/public/catalogs/*.pdf
/public/catalog-pages/
/storage/app/public/catalogs/
/storage/app/public/catalog-pages/
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
